body{
  text-align: center;
  background-color: #87CEEC;
}
body *{
  border-style: hidden;
}
.letterdiv {
    border-bottom: 2px solid black;
    margin: 3px;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;

}
.raden {
    opacity: 0;
}
#PArea{

  width: 83%;
  float: right;
}
.imgbox {
height: 300px;
width:  300px;
margin: 0;
background-size: cover;
background-repeat: no-repeat;
float: left;

}
.LetterButton {
  outline:none;
  box-sizing: content-box;
	background-color:#1E90FF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-style:italic;
	padding:9px 9px;
	text-decoration:none;
  margin: 4px;
  width: 41px;
  height: 41px;
  border: 2px solid #6AB9F0;
}
.LetterButton:hover {
	background-color:#6AB9F0;
}
.LetterButton:active, .LetterButton:focus {
	position:relative;
	top:1px;
}
#rhw {
  outline: none;
  font-size: 20px;
  width: 500px;
  height:80px;
  position: relative;
  background-color:#1E90FF;
  color:#ffffff;
  border: 2px solid #6AB9F0;
}
#rhw:hover {
  background-color:#6AB9F0;
}

#raadW {

  height: 32px;
  width: 400px;
  border: 2px solid #6AB9F0;
  margin: 3px;
}
#inputR {
background-color:#1E90FF;
color:#ffffff;
border: 2px solid #6AB9F0;
display:inline-block;
cursor:pointer;
font-family:Arial;
font-size:16px;
font-style:italic;
padding:9px 9px;
text-decoration:none;
width: auto;
height: auto;
margin: 3px;
}
#wrongguesses{
  height: 30px;
  margin: 0px;
  float: left;
  width: 300px;
  margin-top: 5px;
}
